@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Days+One&family=Fira+Sans:wght@300&family=Rubik+Glitch&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #313131;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(rgb(10, 206, 124), rgb(53, 14, 206), rgb(6, 182, 231), rgb(190, 16, 199));
}

/* Handle on hover */
:root {
  --color: #f4f4f4f5;
}

* {
  color: #202636;
}

html,
body {
  width: 100vw;
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #202636;
  background: url(/bg.png);
  font-weight: bold;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: "Fira Sans", sans-serif;
}

a {
  color: #202636;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: white;
}

/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    background-color: #0a1929;
  }
}
 */
.Fetchloader {
  z-index: 100;
  box-shadow: inset 10000px 10px 10px rgba(0, 0, 0, 0.333);
}
.Fetchloader .loadingcomponents {
  margin-top: 20vh;
}

.auth-forms {
  background: url("/loadingbg.png") no-repeat;
  background-size: 110%;
  height: 90vh;
  background-position: center;
}

.loader {
  background: url("/loadingbg.png") no-repeat;
  background-size: 90%;
  background-position: center;
  background-color: #050F19;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.loader h1 {
  font-family: "days one";
  font-size: 7vw;
  text-shadow: 0 0 10px black;
  color: #f1f1f1;
  margin: 0 auto;
}

.bouncing-loader {
  display: flex;
  align-self: center;
  justify-content: center;
}

.bouncing-loader > div {
  width: 24px;
  height: 25px;
  margin: 3px 6px;
  border-radius: 50%;
  background-color: #f1f1f1;
  opacity: 1;
  animation: bouncing-loader 0.6s infinite alternate;
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translateY(-16px);
  }
}
.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}

.header {
  z-index: 99;
  display: grid;
  grid-template-columns: 25% 47% 32%;
  align-items: center;
  height: 10vh;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  background-color: rgba(190, 190, 190, 0.174);
  position: sticky;
  top: 0;
  /* CSS */
}
.header .info {
  padding: 0% 10%;
}
.header h2 {
  font-family: "Days One", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin-left: 15px;
  font-weight: bold;
  color: #0a1929;
}
.header .lists {
  justify-self: center;
}
.header .lists .searchBar {
  width: 14vw;
}
.header .lists .searchBar .srhRst {
  position: fixed;
  background-color: rgba(10, 25, 41, 0.3725490196);
  height: 10vh;
  width: 14vw;
}
.header .lists .searchBar .srh {
  color: rgba(10, 25, 41, 0.737254902);
  padding: 2px;
  border-radius: 3%;
  width: 100%;
  border: 1px white;
  height: 25px;
  /*  margin: 0 10px;
      background: url(/srhIcon.svg); */
  background-size: cover;
  background-repeat: no-repeat;
}
.header .lists .searchBar .srh:hover {
  opacity: 0.5;
}
.header .lists li a {
  color: #2d3345;
  font-family: "Archivo Black", sans-serif;
  font-weight: thin;
}
.header .button-86 {
  all: unset;
  width: 70px;
  height: 15px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.header .button-86::after,
.header .button-86::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}
.header .button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}
.header .button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: rgba(255, 255, 255, 0.0823529412);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}
.header .button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}
.header .button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}
.header .button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}
.header .info {
  width: 100%;
  align-self: center;
  justify-self: center;
  align-items: center;
}
.header .info .cartIcon {
  background: url(/cartIcon.png);
  background-size: cover;
  height: 45px;
  color: white;
  width: 45px;
}
.header h1 {
  color: #0a1929;
}
.header .hamburger {
  visibility: hidden;
  display: none;
}
.header .menusLink {
  display: none;
}

@media (max-width: 760px) {
  .pdBack {
    margin: 10px;
  }
  .pdPage {
    display: grid;
    grid-template-rows: 80% 20%;
    grid-template-columns: 50% 50%;
    -moz-column-gap: 0%;
         column-gap: 0%;
    margin-top: 5vh;
  }
  .pdPage .p_left {
    grid-template-rows: 15% 40% 10%;
    gap: 4%;
  }
  .pdPage .p_left .p_left_header {
    height: 20px;
    display: block;
    padding: 0;
  }
  .pdPage .p_left .p_left_header h1 {
    font-family: "Days one";
    font-size: 9vw;
    padding-left: 1vw;
  }
  .pdPage .p_left .p_left_header h1::first-letter {
    text-transform: capitalize;
  }
  .pdPage .p_left .p_left_header_review {
    display: none;
    visibility: hidden;
  }
  .pdPage .p_left .p_left_header_review h2 {
    display: none;
  }
  .pdPage .p_left .p_img {
    width: 100%;
  }
  .pdPage .p_left .p_fav {
    display: block;
  }
  .pdPage .p_left .p_fav h2 {
    justify-self: center;
    font-size: 1.5rem;
  }
  .pdPage .p_right {
    grid-template-rows: auto auto auto auto auto;
    gap: 3%;
  }
  .pdPage .p_right h1 {
    font-size: 8vw;
    padding-left: 5vw;
    align-self: center;
    font-family: "Days one";
    color: #515151;
  }
  .pdPage .p_right .p_right_detail {
    padding: 0;
    line-height: 15px;
    width: 80%;
    justify-self: center;
  }
  .pdPage .p_right h2 {
    letter-spacing: 0;
    font-size: 5vw;
    align-items: center;
  }
  .pdPage .p_right h3 {
    justify-self: start;
    font-size: 3.5vw;
    line-height: 2.2vh;
    font-weight: bold;
  }
}
@media (orientation: portrait) {
  .Fetchloader {
    z-index: 100;
    box-shadow: inset 10000px 10px 10px rgba(0, 0, 0, 0.333);
  }
  .Fetchloader .loadingcomponents {
    align-self: center;
    margin-top: 0;
  }
  .loader {
    background: url("/loadingbgmb.png");
    background-size: 110%;
    background-position: center;
    height: 93vh;
  }
  .auth-forms {
    background: url("/loadingbgmb.png");
    background-size: 120%;
    background-position: center;
    height: 93vh;
  }
  .auth-forms a, .auth-forms h7 {
    text-shadow: 0 0 10px;
    color: rgb(0, 255, 213);
  }
  .auth-forms .forms {
    background-color: rgba(27, 27, 27, 0.5215686275);
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
  }
  .otherProduct {
    height: -moz-max-content;
    height: max-content;
  }
  .track {
    white-space: nowrap;
    will-change: transform;
  }
  .track .ml-4 {
    margin-left: 2vw;
  }
  .track .ml-4 img {
    max-height: 220px;
  }
  .body {
    overflow: hidden;
  }
  .header {
    display: flex;
    background-color: #0a1929;
    align-items: center;
    position: sticky;
    width: 100vw;
    height: 7vh;
    padding: 0;
    overflow: hidden;
    justify-content: space-between;
  }
  .header .info {
    width: 50%;
    padding: 0 3%;
    justify-content: space-between;
  }
  .header .cartContainer .cartBody {
    background-color: #0a1929;
  }
  .header .cartContainer .cartBody h1 {
    background-color: #1c7eff;
  }
  .header h2 {
    font-size: 1.2rem;
    padding: 0px;
    color: #f0f0f0;
  }
  .header .lists {
    display: none;
  }
  .cartContainer {
    background: #0a1929;
  }
}
.footer {
  min-height: 8vh;
  width: 100vw;
  background-color: #0a1929;
}

.links {
  justify-content: space-between;
  width: 5vw;
  background: black;
}
.links span {
  font-weight: 700 bold;
}

.hl_headerImg {
  display: grid;
  width: 100vw;
  height: 20vh;
  align-self: center;
}

.hl_header {
  justify-self: center;
  background: url(/text.svg);
  background-repeat: no-repeat;
  width: 40vw;
  background-size: contain;
}

.hl_previous {
  position: absolute;
  top: 50vh;
  left: 1.5%;
  cursor: pointer;
  background: url(/prev.png);
  width: 50px;
  height: 50px;
  z-index: 2;
  background-size: cover;
  transition: transform 0.3s ease-in-out;
}
.hl_previous:hover {
  transform: scale(1.2);
}

.hl_next {
  z-index: 1;
  transition: transform 0.3s ease-in-out;
  position: absolute;
  top: 50vh;
  right: 1.5%;
  cursor: pointer;
  background: url(/next.png);
  width: 50px;
  height: 50px;
  background-size: cover;
}
.hl_next:hover {
  transform: scale(1.2);
}

.hightlight {
  height: 95vh;
  grid-template-rows: 15% 90%;
}

.banners {
  display: flex;
  grid-row: 2;
  position: absolute;
  right: 5vw;
  top: 0%;
  justify-content: center;
  align-items: center;
  width: 90vw;
}

.banner {
  position: absolute;
  overflow: hidden;
  right: 0;
  top: 30vh;
  width: 90vw;
  opacity: 0;
  height: 75vh;
  visibility: hidden;
  transition-duration: 0.5s ease;
  transform: scale(0.8);
}

.slide {
  visibility: visible;
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1);
  display: grid;
  grid-template-columns: 30% 35% 35%;
  padding: 10px;
  z-index: 1;
}
.slide .b_left {
  color: #0a1929;
  display: grid;
  padding: 30px 10px;
  justify-content: space-around;
}
.slide .b_right {
  padding: 10px;
  display: grid;
  grid-template-rows: 30% 30% 30%;
}
.slide .b_right .cd {
  align-self: center;
  border-radius: 5px;
  padding: 5px;
}
.slide .b_right h1 {
  color: transparent;
  -webkit-text-stroke: 1.5px #0a1929;
  text-stroke: 1.5px #0a1929;
  font: 5em "Days one", sans-serif;
}
.slide .b_img {
  width: 70%;
  justify-self: center;
  z-index: 0;
}

.b_circle {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  left: 41.5vw;
  background-color: #0a1929;
  top: 50vh;
  transition: transform 0.7s ease;
}

.circleAnimate {
  background-color: rgba(5, 7, 10, 0.262745098);
  opacity: 1;
  top: 50vh;
  left: 41.5vw;
  border-radius: 50%;
  transform: scale(15);
}

.b_btn {
  padding: 0 10px;
  height: 10vh;
  background-color: rgba(62, 62, 62, 0.231372549);
  align-items: center;
  width: 50%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 30px 10px;
}
.b_btn h2 {
  color: #ffffff;
  font: 1.5vw "Archivo Black", sans-serif;
}
.b_btn .b_btnImg {
  width: 50px;
  height: 50px;
  background: url(/btn.png);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-size: cover;
  transition: transform 0.3s ease-in;
}
.b_btn .b_btnImg:hover {
  transform: scale(1.3);
}

.b_mb {
  display: none;
}

.mb_btn {
  display: none;
}

@media (orientation: portrait) {
  .hightlight {
    width: 101vw;
    display: grid;
  }
  .hl_headerImg {
    height: 20vh;
    width: 100vw;
    justify-self: center;
  }
  .hl_header {
    margin-top: 5vh;
    height: 80%;
    width: 80%;
    background-size: contain;
  }
  .slide {
    display: none;
  }
  .banners {
    top: 22vh;
    height: 90vh;
    overflow: hidden;
  }
  .hl_previous,
  .hl_next {
    top: 85vh;
  }
  .b_mb {
    display: none;
  }
  .b_mbActive {
    display: grid;
    z-index: 3;
    overflow: hidden;
    background-color: rgba(182, 183, 184, 0.537254902);
    position: absolute;
    width: 90vw;
    top: 5%;
    border-radius: 10px;
    height: 55vh;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 3fr repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 0px;
  }
  .b_mbActive .b_mb_name {
    grid-area: 1/1/2/4;
    color: #0a1929;
    font-size: 25px;
    font-family: "Days one";
    align-self: center;
    padding: 0 10px;
  }
  .b_mbActive .b_mb_timer {
    grid-area: 1/4/2/6;
    align-self: center;
    justify-self: center;
  }
  .b_mbActive .b_mb_img {
    grid-area: 2/1/4/6;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .b_mbActive .b_mb_img img {
    max-height: 100%;
  }
  .b_mbActive .b_mb_desc {
    grid-area: 4/1/6/4;
    color: #0a1929;
    font: 10px "Days one";
    padding: 4px;
  }
  .b_mb_price {
    grid-area: 4/4/6/6;
    padding: 4p;
  }
  .b_mb_price h2 {
    align-self: flex-end;
    text-align: center;
  }
  .b_circle {
    top: 30vh;
  }
  .circleAnimate {
    width: 35px;
    height: 35px;
    left: 40vw;
    top: 30vh;
    transform: scale(10);
  }
  .mb_btn {
    position: absolute;
    display: grid;
    top: 85vh;
    left: 0;
    right: 0;
    /* CSS */
  }
  .mb_btn .button-82-pushable {
    position: relative;
    border: none;
    justify-self: center;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    -moz-user-select: none;
         user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  .mb_btn .button-82-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsla(0, 0%, 0%, 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  .mb_btn .button-82-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(to left, hsl(340, 100%, 16%) 0%, hsl(340, 100%, 32%) 8%, hsl(340, 100%, 32%) 92%, hsl(340, 100%, 16%) 100%);
  }
  .mb_btn .button-82-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345, 100%, 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
}
@media (orientation: portrait) and (min-width: 768px) {
  .mb_btn .button-82-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}
@media (orientation: portrait) {
  .mb_btn .button-82-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
  }
}
@media (orientation: portrait) {
  .mb_btn .button-82-pushable:hover .button-82-front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
}
@media (orientation: portrait) {
  .mb_btn .button-82-pushable:active .button-82-front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
}
@media (orientation: portrait) {
  .mb_btn .button-82-pushable:hover .button-82-shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
}
@media (orientation: portrait) {
  .mb_btn .button-82-pushable:active .button-82-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
}
@media (orientation: portrait) {
  .mb_btn .button-82-pushable:focus:not(:focus-visible) {
    outline: none;
  }
}
/* .pd {
  display: grid;
  min-height: 100vh;
  color: #0a1929;
  grid-template-columns: 10% 85%;

  gap: 3%;
} */
.category {
  margin: 10px;
  display: flex;
  grid-column: 2;
}

.card {
  transition: box-shadow 0.2s ease;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.card_header {
  background-color: #0a1929;
}
.card_header b {
  color: white;
  font-weight: 500;
  font: 12px "Days one";
}

.card_body {
  background-color: rgba(8, 8, 69, 0.7764705882);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.card_footer {
  background-color: #0f2227;
  max-height: 5vh;
}
.card_footer .card_price {
  color: rgb(249, 249, 249);
}

.category {
  margin: 10px;
  grid-template-columns: 18% 18% 18% 18% 18%;
  display: grid;
  justify-content: space-around;
  gap: 10px;
}

.cards {
  padding: 0;
  margin: 0;
  width: 100%;
  justify-self: center;
}
.cards .card_header {
  height: 50px;
}
.cards .card_body {
  height: 140px;
}
.cards .card_name {
  font-size: 0.75em;
}

@media (max-width: 400px) {
  .cards {
    width: 180px;
  }
  .cards .card_header {
    height: 40px;
  }
  .cards .card_body {
    height: 100px;
  }
  .cards .card_name {
    font-size: 0.65em;
  }
  .category {
    grid-template-columns: 35% 35%;
    row-gap: 10px;
    -moz-column-gap: 2%;
         column-gap: 2%;
  }
  .pd {
    display: block;
  }
  .filter {
    grid-row: 1;
    padding: 5px;
  }
}
.pd_header {
  width: 100px;
  text-align: center;
  color: #0b3b44;
  font-size: 1.5em;
}

.pdPage {
  height: 80vh;
  color: #0a1929;
  display: grid;
  grid-template-columns: 40% auto;
  gap: 8%;
}

.p_left {
  height: 100%;
  display: grid;
  gap: 5%;
  grid-template-rows: 10% 60% 10%;
  padding: 5px;
}
.p_left .p_left_header {
  padding: 0 10px;
}
.p_left .p_left_header h1 {
  color: #0b3b44;
  padding-left: 7vw;
  z-index: 1;
}
.p_left .p_left_header .p_left_header_review {
  background-color: rgba(10, 25, 41, 0.7529411765);
  height: 10vh;
  align-items: center;
  display: grid;
  padding: 7px;
  border-radius: 1.5vw 0;
}
.p_left .p_left_header .p_left_header_review h2 {
  align-self: center;
  font-size: 1.3em;
  color: rgb(160, 255, 17);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.p_left .p_img {
  align-self: center;
  justify-self: center;
  z-index: 0;
  width: 18vw;
}
.p_left .p_fav {
  justify-content: center;
}
.p_left .p_fav h2 {
  font-size: 3vw;
  color: rgb(115, 62, 212);
  letter-spacing: 1.5px;
  font-family: "Rubik Glitch", cursive;
}

.p_right {
  color: #0b3b44;
  display: grid;
  grid-template-rows: 15% 40% 10% 13% 10%;
  row-gap: 1%;
}
.p_right h3 {
  color: #0a1929;
  font-size: 1.5vw;
}
.p_right h3::first-letter {
  font-size: 30px;
}
.p_right .p_cart {
  width: 15%;
  background-color: #0b3b44;
  height: 80%;
  justify-self: center;
}
.p_right .quantity {
  height: 100%;
  justify-self: center;
  display: flex;
  align-self: center;
  justify-items: center;
  align-items: center;
  color: #0a1929;
}
.p_right .quantity .q_btn {
  font: 30px "Days one";
  width: 40px;
  margin: 0 15px;
  justify-content: center;
  display: grid;
  height: 40px;
  background-color: white;
  border: 1px black;
  transition: transform 0.1s ease-in;
}
.p_right .quantity .q_btn:hover {
  transform: scale(1.1);
}

.filter {
  color: #0b3b44;
  padding: 5px;
}
.filter ul li {
  line-height: 5px;
  /*    padding-left: 10px; */
  width: 80px;
}
.filter ul li::marker {
  content: "<";
  color: #0b3b44;
}
.filter ul li p::first-letter {
  text-transform: capitalize;
}
.filter ul .listClicked {
  color: #1c7eff;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}
.filter ul .listClicked::marker {
  content: ">";
  color: #0b3b44;
}

@keyframes fadeIn {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 760px) {
  .category {
    justify-self: center;
    grid-template-columns: 30% 30% 30%;
  }
  .filter {
    height: 150px;
  }
  .filter ul {
    margin: 0;
  }
  .filter ul li {
    height: 8px;
  }
}
@media (max-width: 400px) {
  .category {
    grid-template-columns: 45% 45%;
  }
  .cards {
    width: 100%;
  }
}
@media (max-width: 250px) {
  .category {
    grid-template-columns: 100%;
  }
  .cards {
    width: 90%;
  }
}
.carttool {
  background-color: #0a1929;
}

.otherProduct {
  width: 100vw;
}
.otherProduct .marquee {
  position: relative;
  height: 450px;
  padding: 10px;
  margin: 0 auto;
  width: 98%;
  overflow-x: hidden;
  overflow: hidden;
}
.otherProduct .track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 15s linear infinite;
  width: 180%;
}
.otherProduct .track .ml-4 {
  margin-left: 3vw;
}
.otherProduct .track:hover {
  animation-play-state: paused;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}/*# sourceMappingURL=globals.css.map */